<html xmlns:th="http://www.thymeleaf.org">
<script src="../static/js/userview.js"></script>
<script src="../static/js/usermodify.js"></script>
<script src="../static/js/userlist.js"></script>
<script src="../static/js/useradd.js"></script>
<div th:replace="common/head::html"></div>
    <div class="right">
        <div class="location">
            <strong>你现在所在的位置是:</strong>
            <span>用户管理页面 >> 用户修改页面</span>
        </div>
        <div class="providerAdd">
        <form id="userForm" name="userForm" method="post" th:action="@{/modifyexe}">
			<input type="hidden" name="id" th:value="${user.id }"/>
			 <div>
                    <label for="userName">用户名称：</label>
                    <input type="text" name="userName" id="userName" th:value="${user.userName }">
					<font color="red"></font>
             </div>
			 <div>
                    <label >用户性别：</label>
                    <select name="gender" id="gender">
						<option value="1" th:selected="${user.gender} eq 1">男</option>
						<option value="2" th:selected="${user.gender} eq 2">女</option>
					 </select>
             </div>
			 <div>
                    <label for="data">出生日期：</label>
<!--                    <input type="text" Class="Wdate" id="birthday" name="birthday" th:value="${#dates.format(user.birthday,'yyyy-MM-dd')}"/>-->
                    <input type="date" Class="Wdate" id="birthday" name="birthday" th:value="${#dates.format(user.birthday,'yyyy-MM-dd')}"/>
                    <font color="red"></font>
              </div>
			
		       <div>
                    <label for="userphone">用户电话：</label>
                    <input type="text" name="phone" id="phone" th:value="${user.phone }">
                    <font color="red"></font>
               </div>
                <div>
                    <label for="userAddress">用户地址：</label>
                    <input type="text" name="address" id="address" th:value="${user.address }">
                </div>
				<div>
                    <label >用户角色：</label>
                    <!-- 列出所有的角色分类 -->
					<input type="hidden" th:value="${user.userRole }" id="rid" />
					<select name="userRole" id="userRole"></select>
        			<font color="red"></font>
                </div>
			 <div class="providerAddBtn">
                    <input type="button" name="save" id="save" value="保存" />
                    <input type="button" id="back" name="back" value="返回"/>
                </div>
            </form>
        </div>
    </div>
</section>
<div th:replace="common/foot::html"></div>
<script type="text/javascript" th:src="@{/js/usermodify.js}"></script>
